{% extends 'base.html.twig' %}

{% block title %}Hello EleveController!{% endblock %}

{% block body %}
      <SECTION>
       <CENTER> Affichage d'un QCM </CENTER>




      
       <label class="numq"> QCM N° </label> <label class="ml-5"> Libellé :   </label> <label class="ml-5">  Thème :   </label> <label class="ml-5"> Nombre de question :  </label> </br>
       <form action="{{ path('eleve_realisation')}}" name="realiserqcm" method="post">

      
          <div class="ml-5"></div></br>

          <div  id="chrono"> </div>
          {% for quest in question %}
          <div  class="qtion"> {{ quest.libelleQuestion }} </div> </br>
          
          <div class="prop">
          {% for propo in quest.propositions %}
            <input  type="hidden" value=" {{ resultatseleve.id }} " name="idresult">
            <input  type="hidden" value=" {{ quest.id }} " name="idquestprece">
             <input  type="checkbox"  name= > {{ propo.libelleproposition }} </br>
         {% endfor %}
             
         </div>
       
       <CENTER>  <input type="hidden" value= name="effectuer"> </CENTER>
       <CENTER>  <input type="submit" value="Valider" name="valider"> </CENTER>
       {% endfor %}
     </form>
   </SECTION>
{% endblock %}