{% extends 'base.html.twig' %}


{% block body %}


	

    <div class="container">


        <SECTION>
         <CENTER> Suppression d'un QCM </CENTER>

         <div class="mt-3 table-responsive ">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Thème</th>
                <th scope="col">Libellé</th>
                <th scope="col">Auteur</th>
                <th scope="col">Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for qcm in qcms %}
              <tr>
                <th scope="row">{{qcm.id}}

                </th>
                <td>{{qcm.theme.description}}</td>
                <td>{{qcm.libelleqcm}}</td>
                <td>{{qcm.autheur.prenom}} {{qcm.autheur.nom}}</td>
                <td>
                    <a href="{{ path('formateur_deleteqcm', {'id':qcm.id}) }}" onclick=" confirm('Are you sure ?') && 
                                    document.getElementById('js-user-delete-form').submit(); " class="btn btn-primary"> Delete </a>

                    
                </td>
            </tr>
        {% endfor %}  
    </tbody>
</table>
</div>
</SECTION>
</div>


{% endblock %}