{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

	{% block body %}
		<div class="container">
			<h1 class="mb-4 text-center"> Gestion des comptes  </h1>
			<section class="article">


				<table class="table table-striped table-dark ml-5 mr-5">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nom</th>
							<th scope="col">Prenom</th>
							<th scope="col">Login</th>
							<th scope="col">Type</th>
							<th scope="col">Modification</th>
							<th scope="col">Suppresion</th>
						</tr>
					</thead>
					<tbody>
						{% for utilisateur in utilisateurs %}
							<tr>
								<th scope="row">{{ utilisateur.id }}</th>
								<td>{{ utilisateur.nom }}</td>
								<td>{{ utilisateur.prenom }}</td>
								<td>{{ utilisateur.username }}</td>
								<td>{{ utilisateur.type }}</td>
								<td> <a href="{{ path('formateur_editUti',{'id': utilisateur.id}) }}" class="btn btn-primary">Modifier</a> </td>
								<td>
									<a href="{{ path('formateur_delete_user', {'id':utilisateur.id}) }}" onclick=" confirm('Are you sure ?') && 
									document.getElementById('js-user-delete-form').submit(); " class="btn btn-primary"> Delete </a>


								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>





			</section>

			<div class="col-md-4 text-center mx-auto">
				<a href="{{ path('formateur_ajoutUti') }}" class=" btn btn-primary ">Ajout Utilisateur</a>
				
			</div>
		</div>
	{% endblock %}
